html{
  padding: 10px;
}

.addTackButton{
      margin-bottom: 20px;
}
.addTackButton button {
    display: inline-block;
    margin-left: 10px;
}
.taskList{
border: 1px solid #ddd;
    margin-bottom: 1px;
        overflow: hidden;
            padding: 5px;
}
.taskList button {
    margin-right: 10px;
}
.taskList button:last-child {
    float: right;
}
